h1, h2 { 
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

body { 
    margin-left: 0px; margin-top: 0px; margin-right: 10px;
    background-color: #1e3773;
}

a:link {color: #DDD; text-decoration:none }
a:active {color: #DDD; text-decoration:none }
a:visited {color: #CCC; text-decoration:none }
a:hover {color: #FFF; text-decoration:none }

div#header { 
    margin: 10px 0px 0px 10px;
    text-align: center;
    background-color: #5b75b1;
}

div#main {
    position:relative;
    width:100%;
}

div#sidebar {
    padding: 40px 10px 40px 10px; 
    float: left;
    background-color: #735fb5;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 160px;
}

div#content {
    position: absolute;
    right: 100px;
    left: 200px;
    top: 10px;
    padding: 40px 10px 40px 10px; 
    background-color: #92d0d0;
}

